.tracker {
  flex: 1;
  background: black;
  display: inline-block;
}
.tracker_list {
  list-style: none;
  padding: 0px;
}

.tracker_list_item {
  margin-bottom: 10px;
}

.tracker_list_item input {
  outline: none;
  appearance: none;
  -moz-appearance: none;
  background: transparent;
  color: white;
  border: none;
  display: inline-block;
  width: 50px;
  -moz-appearance: textfield;
  text-align: center;
}

.tracker_list_item.active input,
.tracker_list_item.active input::placeholder {
  color: red;
}
